/*content box*/
.card-container {
    width: 1000px;
    background-color: orange;
    margin: 0px auto;
    overflow: hidden;
}

.card {
    width: 168px;
    background-color: rgb(255, 206, 71);
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    /*用float讓card往右排*/
    float: left;
}

.card-img {
    width: 100%;
    /*讓圖在容器內以比例變化大小*/
    aspect-ratio: 4/3;
    /*height: 126px; */
    /*適應容器的大小*/
    object-fit: cover;
}

/*---------------------------------------------*/
/*以下修改成每一個間隙都是20px*/
.container2 {
    width: 980px;
    padding: 0 10px;
}

.card2 {
    margin: 20px 10px;
    width: 183px;
}

/*-----------------------------------------------*/
/*暴力解*/
.card3{
    width: 183px;
}

.card-20 {
    margin: 0;
}

/*------------------------------------------------*/
/*border box*/
.card-border-box{
    box-sizing: border-box;
    width: 210px;
}